[Unit]
Description=cExporter - docker containers stats exporter for Prometheus
Documentation=https://github.com/CheerlessCloud/cexporter/blob/master/README.md
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/bin

User=cexporter
Group=cexporter

Environment=CONFIG_FILE="/etc/cexporter/config.yml"
Environment=DEV_ENV=false
Environment=LOG_LEVEL="info"
Environment=LOG_TO_FILE="/var/log/cexporter.log"
Environment=LOG_FORMAT="json"

OOMScoreAdjust=-500

ExecStart=/usr/bin/cexporter
TimeoutSec=300

KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target 